body {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 25%;
}

table {
    /* background-color: orange; */
    height: 400px;
    width: 700px;
    border-collapse: separate; /* Use separate border model */
    border-spacing: 10px; /* Adjust the spacing as desired */
}

h1 {
    margin-left: 25%;
}

th {
    text-align: right;
    height: 50px;
    font-size: 30px;
}

td {
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 10%;
   background-color: orange;
    
}

.white-text {
    
    font-weight: bolder;
    height: 50px;
    width: 50px;
    background-color: white;
}

.num-color{
    background-color: blue;
} 

Svg{
height: 40px;
display: block;

}

.first {
    
    word-spacing: 20px;
    
  }
  
#num-color2{
    color: blue;
    font-weight: bolder;
}

/* num= #3c4043 
td = #5f6368
equal = #8ab4f8 */